body {
    background-color: #191C1C;
}
/* Custom styles for the button */
.btn-custom {
    background-color: #191C1C; /* Base background color */
    color: #00DDDD; /* Base text color */
    border-color: #004F4F; /* Base border color */
    padding: 20px;
    height: 300px;
}
.btn-custom:hover {
    background-color: #004F4F; /* Hover background color */
    color: #00DDDD; /* Hover text color */
    border-color: #004F4F;
    padding: 20px;
    height: 300px;
}