<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<form th:action="@{/signup}" method="get">
    <label>Don't have an account?</label>
    <input type="submit" value="Sign up">
</form>
</body>
</html>
