<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout_navigation :: head"></head>
<body>
<div th:replace="layout_navigation :: nav"></div>
<div th:fragment="content">
    <h1>File Upload</h1>

    <!-- File Upload Form -->
    <form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" accept=".xml,.json" name="file"/>
        <input type="submit" class="" value="Upload" />
    </form>

    <!-- Display upload status -->
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>

    <!-- Display JSON content -->
    <div th:if="${jsonContent}">
        <h2>JSON Content:</h2>
        <pre th:text="${jsonContent}"></pre>
    </div>

    <!-- Display table data -->
    <div th:if="${tableData != null && !tableData.isEmpty()}">
        <div class="table-responsive">
            <table id="data" class="table">
                <tr th:each="row : ${tableData}">
                    <td th:each="cell : ${row}" th:text="${cell}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
